:host ::ng-deep {
    .progress-card {
        border-radius: 5px 5px 0 0;
        border: 1px solid rgb(187, 187, 187);
        position: relative;
        max-width: 150px;
        margin: auto;

        &.click {
            cursor: pointer;
        }

        .status-card {
            margin: 0 auto;
            font-size: 10px;
            height: 45px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 3px;

            .indicator {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .value {
                    font-size: 1rem;
                }
            }
        }

        .progress-bar {
            .p-progressbar {
                height: 1rem;
                border-radius: 0;
            }

            &.ready {
                border: unset !important;

                .p-progressbar {
                    background: #f59b9c;

                    .p-progressbar-value {
                        background: #e10017;
                    }
                }
            }

            &.inprogress {
                border: unset !important;

                .p-progressbar {
                    background: #eeb57f;

                    .p-progressbar-value {
                        background: #ff9300;
                    }
                }
            }

            &.success {
                border: unset !important;
                border-radius: 0;

                .p-progressbar {
                    background: #c2e2bb;

                    .p-progressbar-value {
                        background: #00a100;
                    }
                }
            }
        }

        .checker {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.1);
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 10010;

            i {
                z-index: 10011;
                color: #fff;
                font-size: 1.5rem;
            }
        }

        &.invisible-value {
            .indicator {
                display: none;
            }
        }
    }

    .empty {
        border: 1px solid #999;

        .status-card {
            background-color: #999;
        }
    }

    .ready {
        border: 1px solid #fdcacb;

        .status-card {
            background-color: #fdcacb;
        }
    }

    .inprogress {
        border: 1px solid #f5efcb;

        .status-card {
            background-color: #f5efcb;
        }
    }

    .success {
        border-radius: 8px 8px 0 0;
        overflow: hidden;
        border: 1px solid grey;

        .status-card {
            background-color: #c2e2bb;
        }
    }

    .completed-border {
        border: 3px solid grey;
    }
}
