<div class="container-fluid">
  <div class="row">
    <div>
      <h1 class="h1">Training Program</h1>
    </div>
    <div class="col-10">
      <div class="container-fluid mt-4" style="background-color: #ffffff">
        <div class="row">
          <div class="col-10 search-container-wrapper">
            <!-- <div class="search-container">
              <div class="program-meta-data">
                <form [formGroup]="profileForm" (ngSubmit)="createName()">
                  <div class="body-search">
                    <img
                      src="../../assets/Icons/document/search.svg"
                      alt=""
                      class="img"
                    />

                    <input
                      type="search"
                      class="search"
                      formControlName="search"
                      placeholder="Search by..."
                      [(ngModel)]="Keysearch"
                      (ngModelChange)="onSearchTrainingProgram()"
                    />
                  </div>
                </form>
              </div>
            </div> -->

            <div class="search-container">
              <div class="search-date">
                <div class="parent-search">
                  <form class="form" [formGroup]="profileForm" (ngSubmit)="createName()">
                    <div class="body-search">
                      <i class="fa-solid fa-magnifying-glass"></i>
                      <input
                        type="search"
                        class="search"
                        formControlName="search"
                        placeholder="Search by..."
                        [(ngModel)]="Keysearch"
                        (ngModelChange)="onSearchTrainingProgram()"
                      />
                      <div class="spinning">
                        <app-spin [spinning]="startSpin"></app-spin>
                      </div>

                    </div>
                  </form>
                </div>
                <button
                class="button-bt"
                type="button"
                (click)="showBasicFilterDialog()"
              >
                {{ name }}
              </button>
              <p-dialog
                [(visible)]="displayBasicFilter"
                [style]="{ width: '50vw' }"
                [baseZIndex]="10000"
              >
                <app-filter></app-filter>
              </p-dialog>
              <app-filter
                [ngClass]="{ 'app-filter-small': !showFilterForm }"
                *ngIf="showFilterForm"
              ></app-filter>
              </div>
              <!-- <div class="parent-button">
                <button
                  class="p-import"
                  type="button"
                  (click)="showBasicImportDialog()"
                >
                  {{ name1 }}
                  <div>
                    <img
                      src="../../assets/Icons/document/publish.svg"
                      alt=""
                      class="img-import"
                    />
                  </div>
                </button>
                <p-dialog
                  [(visible)]="displayBasicImport"
                  [style]="{ width: '550px', height: '450px' }"
                  [baseZIndex]="10000"
                  [header]="'Import dialog'"
                >
                  <app-import-dialog></app-import-dialog>
                </p-dialog>

                <button
                  class="p-add"
                  type="button"
                  routerLink="/your-route"
                  (click)="toggleAdd()"
                >
                  {{ name2 }}
                  <div>
                    <img
                      src="../../assets/Icons/action/add.svg"
                      alt=""
                      class="img-add"
                    />
                  </div>
                </button>
              </div> -->
              <div class="parent-button">
                <button class="p-add" type="button" (click)="toggleAdd()">
                  {{ name2 }}
                  <i class="pi pi-plus-circle"></i>
                </button>
                <button
                  class="p-import"
                  type="button"
                  (click)="showBasicImportDialog()"
                >
                  {{ name1 }}
                  <i class="pi pi-upload"></i>
                </button>
                <p-dialog
                  [(visible)]="displayBasicImport"
                  [style]="{ width: '550px', height: '450px' }"
                  [baseZIndex]="10000"
                  [header]="'Import dialog'"
                  [modal]="true"
                >
                  <app-import-dialog></app-import-dialog>
                </p-dialog>
              </div>
            </div>



          </div>




        </div>
      </div>
    </div>
  </div>
  <p-table
    [value]="product"
    [paginator]="true"
    [rows]="5"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[5, 10, 15]"
    currentPageReportTemplate="Rows per page"
    class="pcustom"
    [value]="product"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="header" let-columns>
      <tr>
        <!-- <th *ngFor="let column of headers" [pSortableColumn]="column">
      {{ column }}
      <p-sortIcon field="{{ column }}" class="sort-icon"></p-sortIcon>
    </th> -->
        <th pSortableColumn="id">
          ID
          <p-sortIcon field="id"></p-sortIcon>
        </th>
        <th pSortableColumn="trainingTitle">
          Program Name
          <p-sortIcon field="trainingTitle"></p-sortIcon>
        </th>
        <th pSortableColumn="creationDate">
          Create on
          <p-sortIcon field="creationDate"></p-sortIcon>
        </th>
        <th pSortableColumn="createdBy">
          Create by
          <p-sortIcon field="createdBy"></p-sortIcon>
        </th>
        <th pSortableColumn="duration">
          Duration
          <p-sortIcon field="duration"></p-sortIcon>
        </th>
        <th pSortableColumn="status">
          Status
          <p-sortIcon field="status"></p-sortIcon>
        </th>

        <th>Manager</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-product>
      <ng-container
        *ngIf="product.status === 'Active' || product.status === 'Inactive'"
      >
        <tr>
          <td>
            <a routerLink="" (click)="toggleTrainingId(product.id)">{{
              product.id
            }}</a>
          </td>

          <td>{{ product.trainingTitle }}</td>
          <td>{{ product.creationDate }}</td>
          <td>{{ product.createdBy }}</td>
          <td>{{ product.duration }}</td>

          <td>
            <button
              *ngIf="product.status === 'Active'"
              class="active-button"
              (click)="changeStatus(product)"
            >
              Active
            </button>
            <button
              *ngIf="product.status === 'Inactive'"
              class="inactive-button"
              (click)="changeStatus(product)"
            >
              Inactive
            </button>
          </td>

          <div class="dropdown">
            <button class="dropbtn">
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M13 15C14.1046 15 15 14.1046 15 13C15 11.8954 14.1046 11 13 11C11.8954 11 11 11.8954 11 13C11 14.1046 11.8954 15 13 15Z"
                  fill="#285D9A"
                />
                <path
                  d="M20 15C21.1046 15 22 14.1046 22 13C22 11.8954 21.1046 11 20 11C18.8954 11 18 11.8954 18 13C18 14.1046 18.8954 15 20 15Z"
                  fill="#285D9A"
                />
                <path
                  d="M6 15C7.10457 15 8 14.1046 8 13C8 11.8954 7.10457 11 6 11C4.89543 11 4 11.8954 4 13C4 14.1046 4.89543 15 6 15Z"
                  fill="#285D9A"
                />
              </svg>
            </button>
            <div class="dropdown-content">
              <a class="manager">Manage</a>
              <!-- <a class="dd" href="#">Training material</a> -->

              <form (submit)="onUpdateTrainingProgram()">


                <button type="submit">Update</button>
              </form>

              <button (click)="onDuplicateTrainingProgram(product.id)">
              Duplicate
              </button>

              <!-- <a class="dd" href="#">De-activate program</a> -->

              <!-- <button (click)="onDeleteTrainingProgram(product.id)">
                Remove
              </button> -->

              <button (click)="showConfirmDialog()">
                 Delete
              </button>

              <div class="form-container">
                <p-dialog
                  [(visible)]="displayConfirmDialog"
                  [modal]="true"
                  [style]="{ width: '40vw' }"
                  [baseZIndex]="10000"
                  [draggable]="false"
                  [resizable]="false"
                >
                  <div class="title-container">
                    <!-- icon -->
                    <p>
                      <i class="pi pi-info-circle"></i> Do you want to delete
                      this class ?
                    </p>
                  </div>

                  <ng-template pTemplate="footer">
                    <div class="button-confirm">
                      <app-saving
                        class="no-btn"
                        [name]="'No'"
                        (click)="hideDialog()"
                      ></app-saving>
                      <app-saving
                        class="yes-btn"
                        [name]="'Yes'"
                        (click)="onDeleteTrainingProgram(product.id)"
                      ></app-saving>
                    </div>
                  </ng-template>
                </p-dialog>
              </div>
            </div>
          </div>

          <!-- <div><p-dropdown style="position: relative;" [options]="menuItems" placeholder="Manage"></p-dropdown></div> -->
        </tr>
      </ng-container>
    </ng-template>

    <div>
      <nav aria-label="Page navigation example" class="pagination-container">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <i class="fa-solid fa-chevron-left"></i>
          </li>
          &ensp;
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          &ensp;
          <li class="page-item"><a class="page-link" href="#"> 2</a></li>
          &ensp;
          <li class="page-item"><a class="page-link" href="#"> 3</a></li>
          &ensp;
          <li class="page-item"><a class="page-link" href="#"> 4</a></li>
          &ensp;
          <li class="page-item"><a class="page-link" href="#"> 5</a></li>
          &ensp;
          <li class="page-item">
            <i class="fa-solid fa-chevron-right"></i>
          </li>
          &emsp;

          <li class="page-item">
            <i class="fa-solid fa-chevron-right"></i>
          </li>
          <li class="page-item">
            <i class="fa-solid fa-chevron-right"></i>
          </li>
        </ul>
      </nav>
    </div>
  </p-table>
</div>
