<div class="background" style="color: black">
  <form [formGroup]="recover" (ngSubmit)="onSubmit()">
    <div>
      <h2>Change Password</h2>

      <div class="_ngcontent-ome-c16">
        <input
          type="text"
          id="code"
          name="code"
          placeholder="OTP"
          required
          formControlName="code"
        />
        <input
          type="password"
          id="newPassword"
          name="newPassword"
          placeholder="newPassword"
          required
          formControlName="newPassword"
        />
        <input
          type="password"
          id="confirmPassword"
          name="confirmPassword"
          placeholder="confirmPassword"
          required
          formControlName="confirmPassword"
        />
        <button (click)="onSubmit()" type="submit">Confirm</button>
      </div>
    </div>

    <p
      id="login-testing-json-qqgido"
      style="color: black; position: absolute"
    ></p>
    <div class="spinning">
      <app-spin [spinning]="startSpin"></app-spin>
    </div>
    <p-dialog [(visible)]="displayBasic" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false"
    [resizable]="false">
    <p class="m-0">
      {{ diaLog }}
    </p>
    <ng-template pTemplate="footer">
      <p-button icon="pi pi-check" (click)="displayBasic = false" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
  </p-dialog>
  </form>
</div>
