<!DOCTYPE html>
<html>
  <body>
    <div class="bgimg">
      <!-- <img
        src="https://static.wixstatic.com/media/245711_c42d16adc716427dbed755dca54c20ad~mv2.gif?fbclid=IwAR2NkmTxFCWulOzm6jRl625UOJi5GGamWmh7TruBC4gAU2pNQXy7jAxu_yw"
        alt="Under Construction"
        width="100%"
        height="auto"
        background-position="center"
        position="relative"
        background-size="auto"
        background-repeat="no-repeat"
      /> -->
      <div class="top-left">
        <p></p>
      </div>
      <div class="middle">
        <p>
          <p-button label="Click here to return home" (click)="returnHome()"></p-button>
        </p>
      </div>
      <div class="bottom-left">
        <!-- <a style="color: black" href="https://primeng.org/">Click here</a> -->
        <h1><i class="fa-solid fa-triangle-exclamation"></i> UNDER CONSTRUCTION <i class="fa-solid fa-triangle-exclamation"></i></h1>
        <div id="countdown" class="countdown">
          <div class="time">
            <h2 id="days"></h2>
            <small>Days</small>
          </div>

          <div class="time">
            <h2 id="hours"></h2>
            <small>Hours</small>
          </div>

          <div class="time">
            <h2 id="minutes"></h2>
            <small>Minutes</small>
          </div>

          <div class="time">
            <h2 id="seconds"></h2>
            <small>Seconds</small>
          </div>
        </div>
        <!-- <p id="demo" style="font-size: 30px"></p> -->
      </div>
    </div>
  </body>
</html>
