<div class="header-container"><h1>FA Training Management System</h1></div>
<div class="body-container">
  <a routerLink="/syllabus">
    <div class="syllabus-container">
      <i class="pi pi-book" style="font-size: 8rem;"></i>
      <h3>Syllabus</h3>
    </div>
  </a>

  <a routerLink="/training">
    <div class="training-container">
      <i class="fa-solid fa-microscope" style="font-size: 8rem;"></i>
      <h3>Training</h3>
    </div>
  </a>
  <a routerLink="/class">
    <div class="class-container">
      <i class="fa-solid fa-graduation-cap" style="font-size: 8rem;"></i>
      <h3>Class</h3>
    </div>
  </a>
  <a routerLink="/calendar">
    <div calendar="calendar-container">
      <i class="fa-regular fa-calendar" style="font-size: 8rem;"></i>
      <h3>Calendar</h3>
    </div>
  </a>
  <a routerLink="/user">
    <div user="user-container">
      <i class="fa-regular fa-user" style="font-size: 8rem;"></i>
      <h3>User</h3>
    </div>
  </a>
  <a routerLink="/learning">
    <div learning="learning-container">
      <i class="fa-regular fa-folder-closed" style="font-size: 8rem;"></i>
      <h3>Learning</h3>
    </div>
  </a>
</div>
