.btn-pin {
    padding: 0;
}

.div-con {
    padding: 0.5rem 0 0 0;
    display: flex !important;
}

.nav-auto-complete {
    .p-autocomplete-multiple-container {
        width: 16rem !important;
    }
}

.btn-bg-color-primary {
    background-color: #3b73b9 !important;
}

.btn-collapse {
    padding-left: 0.6rem;
}
