<div class="program-container">
  <div class="program-detail">
    <div class="component-1">
      <div class="program-header">
        <div class="text-program-header">Training program</div>
        <div class="program-name">
          <!-- frame 107 -->
          <div class="devops-foundation">
            <div class="text-program-name">{{ bigTitle }}</div>
            <div class="text-inactive">
              <div class="inactive">Inactive</div>
            </div>
          </div>
        </div>
      </div>
      <div class="program-meta-data">
        <div class="text-program-meta-data">
          <div class="text-program-1">...days</div>
          <div class="text-program-2">(...hours)</div>
        </div>
        <div class="text-day">Modified on 21/06/2022 by Warrior Tran</div>
      </div>
    </div>
    <hr class="hr" />
    <add-syllabus [sourceSyllabus]="sourceSyllabus"></add-syllabus>
</div>
